.back-to-networks {
  background-color: #FF995A;
  color: black;
  font-weight: bold;
  border: none;
  font-weight: normal;
}

.title {
  font-size: 30px;
  margin-left: 50px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.section-map {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  width: 100vw;
}