.map-size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.button-div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-networks {
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 10px 15px;
  border: none;
}

.back-to-networks:hover {
  background-color: #bff2cf;
  color: black;
  border: none;
  font-size: 10px;
  padding: 10px 15px;
}

.map-title,
.about {
  font-size: 40px;
  text-align: left;
  margin: 5px;
  padding-left: 10px;
  border-left: 5px solid #bff2cf;
}

.city-bike {
  font-size: 100px;
  text-align: center;
  height: max-content;
}
