.map-size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  flex-direction: column;
}

.second-page {
  display: flex;
  justify-content: space-evenly;
}

.map-div {
  display: flex;
  justify-content: space-evenly;
}

.back-to-networks {
  background-color: #FF995A;
  color: black;
  font-weight: bold;
  padding: 5px 259px;
  border: none;
  font-weight: normal;
}

.map-title,
.about {
  font-size: 40px;
  text-align: left;
  margin: 5px;
  padding-left: 10px;
  border-left: 5px solid black;
}

.sections {
  width: 40vw;
}

.section-p {
  width: 40vw;
  font-size: 20px;
}