.welcomeDiv {
  background-image: url("https://images.unsplash.com/photo-1622078687778-810dfe68a069?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
}

p {
  text-align: left;
  color: white;
  align-self: flex-start;
  font-size: 30px
}

h5 {
  color: white;
  font-size: 70px;
  align-self: flex-start;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 5px;
}

.info-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: 80vw;
  height: 80vh;
}