.footer {
  height: 5vh;
  background-color: #fafafa;
  color: white;
  text-align: center;
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.divs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

i {
  color: black;
}

i:hover {
  color: #c6c6c6;
}

h6 {
  color: black;
  height: max-content;
  width: max-content;
}
