.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
  background-image: url("../img/fcf1752f11b319a580e388132bcc3e4a.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  gap: 1rem;
  flex-wrap: wrap;
}

.each-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  gap: 0.5rem;
}

.google-imgs {
  width: 90%;
  height: 60%;
}

p {
  text-align: center;
  width: 60%;
  height: 20%;
}

.city-bike {
  font-size: 100px;
  text-align: center;
  padding-bottom: 30px;
}
