ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

a:hover {
  border-bottom: 3px solid #fca133;
}

nav {
  display: flex;
  justify-content: center;
  height: 5vh;
}

.bike-logo {
  width: 80px;
  height: 80px;
}

.flags {
  width: 200px;
}

a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
}

h1 {
  font-family: "Aldrich", sans-serif;
}

.div-nav {
  width: 100vw;
}

img {
  height: 20px;
}